[user]
	email = jain.anmol1119@gmail.com
	name = Anmol Jain
[credential]
	helper = store --file ~/.my-credentials
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
